<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="alien1" class="com.learning.Alien" >
        <constructor-arg name="lap" type="com.learning.Laptop" ref="lap1"/>
        <constructor-arg name="age" type="int" value="27"/>
            </bean>

    <bean id="lap1" class="com.learning.Laptop"></bean>
    <bean id="lap2" class="com.learning.Laptop"></bean>
</beans>
